root = true

[*]
trim_trailing_whitespace = true
charset = utf-8
insert_final_newline = true
indent_style = space
end_of_line = lf

[*.xml]
indent_size = 2

[*.yaml]
end_of_line = cr

[*.{java,kt}]
indent_size = 4
